<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>Filter</filter-name>
        <filter-class>filter.Filters</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>controller.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterControl</servlet-name>
        <servlet-class>controller.RegisterControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controller.LogOutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>avatarUpdate</servlet-name>
        <servlet-class>controller.avatarUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPost</servlet-name>
        <servlet-class>controller.NewPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForumDetail</servlet-name>
        <servlet-class>controller.ForumDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostComments</servlet-name>
        <servlet-class>controller.PostComments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>controller.UserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllPost</servlet-name>
        <servlet-class>controller.ViewAllPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllPostUser</servlet-name>
        <servlet-class>controller.ViewAllPostUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <servlet-class>controller.DeletePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassDataPostUpdate</servlet-name>
        <servlet-class>controller.PassDataPostUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePost</servlet-name>
        <servlet-class>controller.UpdatePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteComment</servlet-name>
        <servlet-class>controller.DeleteComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateComment</servlet-name>
        <servlet-class>controller.UpdateComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.ChangePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>avatarUpdate</servlet-name>
        <url-pattern>/avatarUpdate</url-pattern>
    </servlet-mapping>
    <role rolename="manager-script"/>
    <user password="admin" roles="manager-script" username="admin"/>
    <servlet-mapping>
        <servlet-name>NewPost</servlet-name>
        <url-pattern>/NewPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForumDetail</servlet-name>
        <url-pattern>/ForumDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostComments</servlet-name>
        <url-pattern>/PostComments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/UserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllPost</servlet-name>
        <url-pattern>/ViewAllPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllPostUser</servlet-name>
        <url-pattern>/ViewAllPostUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/DeletePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassDataPostUpdate</servlet-name>
        <url-pattern>/PassDataPostUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePost</servlet-name>
        <url-pattern>/UpdatePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteComment</servlet-name>
        <url-pattern>/DeleteComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateComment</servlet-name>
        <url-pattern>/UpdateComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForumDetail</servlet-name>
        <url-pattern>/ForumDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostComments</servlet-name>
        <url-pattern>/PostComments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/UserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllPost</servlet-name>
        <url-pattern>/ViewAllPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllPostUser</servlet-name>
        <url-pattern>/ViewAllPostUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/DeletePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassDataPostUpdate</servlet-name>
        <url-pattern>/PassDataPostUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePost</servlet-name>
        <url-pattern>/UpdatePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteComment</servlet-name>
        <url-pattern>/DeleteComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateComment</servlet-name>
        <url-pattern>/UpdateComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <role rolename="manager-script"/>
    <user username="admin" password="admin" roles="manager-script"/>
</web-app>
