<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>Filter</filter-name>
        <filter-class>filter.Filters</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>controller.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterControl</servlet-name>
        <servlet-class>controller.RegisterControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controller.LogOutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>avatarUpdate</servlet-name>
        <servlet-class>controller.avatarUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPost</servlet-name>
        <servlet-class>controller.NewPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForumDetail</servlet-name>
        <servlet-class>controller.ForumDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostComments</servlet-name>
        <servlet-class>controller.PostComments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>controller.UserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllPost</servlet-name>
        <servlet-class>controller.ViewAllPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllPostUser</servlet-name>
        <servlet-class>controller.ViewAllPostUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <servlet-class>controller.DeletePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassDataPostUpdate</servlet-name>
        <servlet-class>controller.PassDataPostUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePost</servlet-name>
        <servlet-class>controller.UpdatePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteComment</servlet-name>
        <servlet-class>controller.DeleteComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateComment</servlet-name>
        <servlet-class>controller.UpdateComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateExam</servlet-name>
        <servlet-class>examController.CreateExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeSubject</servlet-name>
        <servlet-class>examController.ChangeSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRandomExam</servlet-name>
        <servlet-class>examController.CreateRandomExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteExam</servlet-name>
        <servlet-class>examController.DeleteExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassDataExamUpdate</servlet-name>
        <servlet-class>examController.PassDataExamUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionInExam</servlet-name>
        <servlet-class>examController.DeleteQuestionInExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewQuestionDetail</servlet-name>
        <servlet-class>examController.ViewQuestionDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassDataExamAdd</servlet-name>
        <servlet-class>examController.PassDataExamAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionToExam</servlet-name>
        <servlet-class>examController.AddQuestionToExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeExamName</servlet-name>
        <servlet-class>examController.ChangeExamName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRandomQuestionToExam</servlet-name>
        <servlet-class>examController.AddRandomQuestionToExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeSubjectSystem</servlet-name>
        <servlet-class>examController.ChangeSubjectSystem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeSubjectUser</servlet-name>
        <servlet-class>examController.ChangeSubjectUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassDataQuestionAdd</servlet-name>
        <servlet-class>examController.PassDataQuestionAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionBank</servlet-name>
        <servlet-class>examController.AddQuestionBank</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionInBank</servlet-name>
        <servlet-class>examController.DeleteQuestionInBank</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeSubjectStudent</servlet-name>
        <servlet-class>examStudentController.ChangeSubjectStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamDetail</servlet-name>
        <servlet-class>examStudentController.ExamDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoSaveServlet</servlet-name>
        <servlet-class>examStudentController.AutoSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitTest</servlet-name>
        <servlet-class>examStudentController.SubmitTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeExamTime</servlet-name>
        <servlet-class>examController.ChangeExamTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassDataResultDetail</servlet-name>
        <servlet-class>examStudentController.PassDataResultDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocFileQuestionAdd</servlet-name>
        <servlet-class>examController.DocFileQuestionAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>avatarUpdate</servlet-name>
        <url-pattern>/avatarUpdate</url-pattern>
    </servlet-mapping>
    <role rolename="manager-script"/>
    <user password="admin" roles="manager-script" username="admin"/>
    <servlet-mapping>
        <servlet-name>NewPost</servlet-name>
        <url-pattern>/NewPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForumDetail</servlet-name>
        <url-pattern>/ForumDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostComments</servlet-name>
        <url-pattern>/PostComments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/UserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllPost</servlet-name>
        <url-pattern>/ViewAllPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllPostUser</servlet-name>
        <url-pattern>/ViewAllPostUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/DeletePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassDataPostUpdate</servlet-name>
        <url-pattern>/PassDataPostUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePost</servlet-name>
        <url-pattern>/UpdatePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteComment</servlet-name>
        <url-pattern>/DeleteComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateComment</servlet-name>
        <url-pattern>/UpdateComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateExam</servlet-name>
        <url-pattern>/CreateExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeSubject</servlet-name>
        <url-pattern>/ChangeSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRandomExam</servlet-name>
        <url-pattern>/CreateRandomExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteExam</servlet-name>
        <url-pattern>/DeleteExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassDataExamUpdate</servlet-name>
        <url-pattern>/PassDataExamUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionInExam</servlet-name>
        <url-pattern>/DeleteQuestionInExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewQuestionDetail</servlet-name>
        <url-pattern>/ViewQuestionDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassDataExamAdd</servlet-name>
        <url-pattern>/PassDataExamAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionToExam</servlet-name>
        <url-pattern>/AddQuestionToExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeExamName</servlet-name>
        <url-pattern>/ChangeExamName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRandomQuestionToExam</servlet-name>
        <url-pattern>/AddRandomQuestionToExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeSubjectSystem</servlet-name>
        <url-pattern>/ChangeSubjectSystem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeSubjectUser</servlet-name>
        <url-pattern>/ChangeSubjectUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassDataQuestionAdd</servlet-name>
        <url-pattern>/PassDataQuestionAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionBank</servlet-name>
        <url-pattern>/AddQuestionBank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionInBank</servlet-name>
        <url-pattern>/DeleteQuestionInBank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeSubjectStudent</servlet-name>
        <url-pattern>/ChangeSubjectStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamDetail</servlet-name>
        <url-pattern>/ExamDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoSaveServlet</servlet-name>
        <url-pattern>/AutoSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitTest</servlet-name>
        <url-pattern>/SubmitTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeExamTime</servlet-name>
        <url-pattern>/ChangeExamTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassDataResultDetail</servlet-name>
        <url-pattern>/PassDataResultDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocFileQuestionAdd</servlet-name>
        <url-pattern>/DocFileQuestionAdd</url-pattern>
    </servlet-mapping>
</web-app>
