<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>Filter</filter-name>
        <filter-class>filter.Filters</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>controller.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterControl</servlet-name>
        <servlet-class>controller.RegisterControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controller.LogOutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>avatarUpdate</servlet-name>
        <servlet-class>controller.avatarUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterGmail</servlet-name>
        <servlet-class>controller.RegisterGmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassDataExam</servlet-name>
        <servlet-class>controller.PassDataExam</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>avatarUpdate</servlet-name>
        <url-pattern>/avatarUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterGmail</servlet-name>
        <url-pattern>/RegisterGmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassDataExam</servlet-name>
        <url-pattern>/PassDataExam</url-pattern>
    </servlet-mapping>
</web-app>
